.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;
        
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s .45s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }
    
    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: white;
        height: 50px;
        font-size: 16px;
        color: black;
        padding: 0 20px;
        box-sizing: border-box;
        border: 1px solid teal;
    }

    textarea {
        width: 100%;
        border: 0;
        background: white;
        height: 50px;
        font-size: 16px;
        color: black;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
        border: 1px solid teal;
        }
}
@media only screen and (max-width: 1200px){
    .info-map{
        opacity: 0;
    }
}
@media only screen and (min-width: 1200px){
    .info-map {
        position: absolute;
        background-color: black;
        top: 50px;
        right: 30%;
        z-index: 999999;
        width: 267px;
        padding: 20px;
        color: white;
        font-family: 'Helvetica';
        font-size: 17px;
        font-weight: 300;
        opacity: 0;
        animation: fadeIn 1s 1.5s;
        animation-fill-mode: forwards;
    
        span {
            font-size: 16px;
            display: block;
            padding-top: 20px;
            color: white;
        }
    }

    .map-wrap {
        background: rgba(8, 253, 216, 0.1);
        float: right;
        width: 53%;
        height: 100%;
    }
}

.leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}
